<!DOCTYPE html>
<meta charset=UTF-8>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles.css" />
        <title>{% block title %}justfruitcake.com{% endblock %}</title>
        <link rel="shortcut icon" href="/static/favicon.ico"> 

   </head>

   <H3>Another H3</H3>
   <body>
       <table>
           <tr>
               <td align="left"><H3>Testing Justfruitcake</H3></td>
           </tr>
       </table>
       </div>
   
   
    <div>
        {% block content %}{% endblock %}
    </div>


        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("jquery", "1");
        </script>

        <script type="text/javascript" language="javascript">
            $(document).ready(function() {
                    
// NOTE: LEAVING THIS AS A SIMPLE DEMO        
/*
                 alert($().jquery);       
                 alert("Hello, whirled!");
                 var d = new Date(); 
                      if (d.getHours() < 12) {
                        alert("Good morning."); 
                      } else {
                        alert("Good afternoon.");
                      }
*/
            });
        </script>



    </body>
</html>


