<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block pagetitle %}Original title{% endblock pagetitle %}</title>
    </head>
    <body>
        <header id="header">
            {% block header %}
            <h1>Title from base</h1>
            {% endblock header %}
        </header>

        {% block top-content %}Top content goes here{% endblock top-content %}
        {% block forum-content %}Forum content goes here{% endblock forum-content %} 
        <footer id="footer">
            {% block footer %}
                <div>&copy; 2012, Picocosmos Corporation</div>
            {% endblock footer %}
        </footer>
    </body>
</html>


