{% extends "forum/fbase.html" %}
{% comment %}
Home page
{% endcomment %}

{% block title %} - home page{% endblock %}

{% block body %}
    <header>
        <h1>Justfruitcake!</h1>
    </header>
    <section>
        <P><u>Justfruitcake!</u> is <i>virtual</i> fruitcake... that you can, um,  send to your friends, and then they
        can send to friends, and then ...!</P>
    </section>
    <section>
        <form method="post" id="fruitcake_signup" action="" onsubmit="">
            {% csrf_token %}
            <input name="submit" type="submit" value="JOIN FOR FREE!" />
        </form>
        <br />Already signed up? <a href="/polls/">Sign in</a>

    </section>
{% endblock %}

