{% extends "base.html" %}

{% block head %}
<title>Justfruitcake polls</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Justfruitcake polls</h1>
    </header>
    <section>
        {% if latest_poll_list %}
          <P>Here are the polls:</P>
            <ul>
            {% for poll in latest_poll_list %}
                <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </section>
{% endblock %}

