/* Fruitcake forum styles */

/* From fbase.html */

* {
    color: #555; 
    font-size: 0.95em;
    font-family: Arial, Helvetica, sansserif;
}

#menu a {
    text-decoration: none;
    background: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 2px solid #fff;
    padding-right: 3px;
    padding-left: 3px;
/*            color: red; *//* #777; */
    font-size: 0.9em;
}

a:hover {
    background: #eeebeb;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #555; 
}

#container { margin: auto; width: 800px; border: 0px solid; }

p { font-size: 1.1em; }
h3 { margin-right: 30px; display: inline; }

#sidebar { font-size: 1.4em; color: red; margin-bottom: 20px; border-bottom: 1px solid #ccc;}

.frog { color: green; font-size: 1.3em; }

/* from thread.html */

.pagination { margin-top: 20px; margin-left: -20px; }
.main { margin-left: 25px; margin-top: 30px; width: 700px; }
.title { font-size: 1.4em; margin-top: 10px; padding-left: 0px; }
.title a { text-decoration: none; }
.button { background: #999; color: white; padding: 6px; text-decoration: none; float: right; }
.date { font-size: 0.8em; padding-left: 5px; }
.ppic { float: right; }
.clear { clear: both; }
.last { border: 0px; }

.post {
    margin: 8px; padding: 8px; border: 1px solid #ccc; margin-bottom: 14px; background: white;
    }
#list { border: 1px solid #a6cccc; width: 700px; background: #f6f6f6; }
#back { margin: 5px; }


.ttitle {
    color: orange; font-style: bold; font-size: 1.3em; border-bottom: 1px solid #ccc; margin-bottom: 9px;
    padding-left: 10px; width: 700px;
}


