*~
*.py[cod]
*.swp
*.log
#
bin/
build
.coverage
distribute*
fruitcakesite/fruitcake.log
fruitcakesite/static/media/pics
fruitcakesite/static/media/thumbnails
fruitcakesite/static/media/images
fruitcakesite/static/media
glyphish200/
htmlcov
include/
#CF20130329 changed to not exclude registration tree, since I'm using patched version of Django 1.5
# To do this, unignore every parent directory of anything you want to unignore, so in pairs: 
# ignore everything in a directory, but not some certain subdirectory, as follows:
lib/*
#except do not ignore registration directory
!lib/python2.7/site-packages/registration/
!lib/python2.7/site-packages/registration/*
#also subdirectories of registration
!lib/python2.7/site-packages/registration/**/*
local/
misc/
.pydevproject
src/
.settings

