BLOCKS:

base/base.html
-------------------------------
title, sidebar, nav-global, signin, forum-content, footer

<title>Justfruitcake {% block title %}{% endblock %}</title>
<div id="sidebar">Justfruitcake{% block sidebar %} - website{% endblock %}
<div id="container">
        <div id="menu">
            {% block nav-global %}
		...
            {% endblock %}
        </div>
        {% block signin %}
        <div id="container3">
		... [3-column user panel]
        {% endblock %}
        <div id="content">
            {% block forum-content %}{% endblock %}
    {% block footer %}
    <br />
    <div class="footer">
        &copy; Copyright 2012 Picocosmos Corporation</div>
    {% endblock %}
        </div>

forum/fbase.html
-------------------------------

{% extends "base/base.html" %}
{% block title %}{{ block.super }} ForumApp {% endblock %}
{% block sidebar %} - website{% endblock %} 
    <div id="container">
        <div id="menu">
            {% block nav-global %}
		...
           {% endblock %}
        </div>
        {% block signin %}
        <div id="container3">
		...
        {% endblock %}
        <div id="content">
            {% block forum-content %}{% endblock %}
        </div>
    </div>
    --> footer

myfruitcake/shipment_email.html
-------------------------------
{% extends "forum/fbase.html" %}
{% block title %} {% endblock %}
{% block sidebar %} {% endblock %}
{% block nav-global %} {% endblock %}
{% block signin %} {% endblock %}
{% block forum-content %}
<P>Special fruitcake email:</P>
	...
{% endblock forum-content %}
--> footer

