{% extends "polls/polls.html" %}

{% comment %}
    --- Main page of the polls app
{% endcomment %}

{% block title %}
<title>Polls</title>
{% endblock %}

{% block content %}
    <section>
        <h3>Welcome, {{ user.username }}</h3>
    </section>
    {% if latest_poll_list %}
    Here are the currently available polls:
        <ul>
        {% for poll in latest_poll_list %}
            <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    
{% endblock %}

