{% extends "forum/fbase.html" %}        

{% block title %}Myfruitcake{% endblock %}

{% block sidebar %} - my shipments{% endblock %}


{# (shipment_list.html) #}
{% block page-content %}
    <div class="main">
        <div id="rtitle">Upload a fruitcake photo? <span class="menu"><a href="/myfruitcake/upload/">Upload</a></span></div>
    </div>


    {% block myfruitcakelist %}{% endblock myfruitcakelist %}        

    {# and user.is_authenticated #}
    {% if shipment_list %}

        <br />
        <P class="main">Listing of fruitcake 
        {% if sender  %}
         Sent by <i><u>{{ sender }}</u></i>
         {% endif %}
         (<b>click photo to send</b>):</P>

        <div id="gallery_tape">
        <ul class="gallery tape">


        {% if shipment_list %}

            {% for shipment in shipment_list %}

                <table><tr>
                        {# <li> #}
                <td valign="top">

                <figure>
                    <a href="{{ shipment.fruitcake.id }}/shipment/" title="{{ shipment.fruitcake.popup }}">
                        <img src="{{ MEDIA_URL }}{{ shipment.fruitcake.thumbnail }}"/>
                    </a>
                    <figcaption>uploaded: {{ shipment.fruitcake.dt }}<br />by: {{ shipment.fruitcake.uploader.username }} (sent {{shipment.fruitcake.times_shipped}}x)</figcaption>
                </figure>
                </td>

                <td border="1" valign="top" width="100%" height="100%">

                {# comment #}
                <b>Map: {{ shipment.get_shipment_list | length }}, iteration: {{ forloop.counter0 }}</b>

                {% if forloop.counter0 == 0 %}
                    <P>counter0 here</P>
                    <div id="map-canvas">Map</div>
                {% else %}
                {% endif %}

                {# endcomment #}

                {# comment #}
 
                {% if shipment.get_shipment_list %}

                <BR />
                <u>Latest</u>
                    <ol class="history_area" reversed >
                    {% for leg in shipment.get_shipment_list %}
                    <li class="history_item">
                    - Shipment {{ leg.id }}, {{ leg.dt }} sent by <b>{{ leg.sender }}
                        {% for ip in leg.ipaddresses.all %}
                        ({{ ip.city }}, {{ ip.region }}, {{ ip.country_name }} - {{ ip.ipaddress }}) 
                        {% endfor %}</b>
                        with message &quot;{{ leg.message }}&quot;
                        <br />
                        {% if leg.sender = user %}
                        --> sent to: 
                            {% for email in leg.emailcontacts.all %} 
                                {{email }}{% if not forloop.last %}, {% endif %} 
                            {% endfor %} 
                        {% endif %}
                    </li>
                    {% endfor %}
                    </ol>

                    <u>Start</u>

                {% else %}
                    <b>no list</b>
                {% endif %}

                {# endcomment #}


                </td>
                {# </li> #}
                </tr></table>
            
            {% endfor %}

        {% else %}

            <P>Here is your map</P>
    
        {% endif %}


        </ul>
        </div>
        {#  <br />by: {{ shipment.uploader.username }} #}
     {% else %}
        {# <div id="map-canvas">Map</div> #}

        (Sorry, looks like you have not shipped any fruitcake, yet.)
     {% endif %}


{% endblock %}


{% comment %}
{% block page-content %}


{% endblock %}

{% endcomment %}

