{% extends "base/base.html" %}

{# {% load tz %} #}

{% block title %}{{ block.super }} Forum {% endblock %}


    <div id="container">

        {% block sidebar %} - Home{% endblock %} 

        <div id="menu">
            {% block nav-global %}

            <!-- MENU -->

            <section class="menu1" style="display: table;">

                <div style="display: table-cell;"><h3><a href="{% url 'fruitcake:toplistview' %}">Home</a></h3></div>
                <div style="display: table-cell;"><h3><a href="{% url 'fruitcake:listview' %}">My Fruitcake</a></h3></div>
                <div style="display: table-cell;"><h3><a href="{% url 'fruitcake:shipments' %}">My Shipments</a></h3></div>
                {% if user.is_authenticated %}
                    <div style="display: table-cell;"><h3><a href="{% url 'forum:userinfo' %}">My Profile</a></h3></div> 
                {% endif %}
                {# --Note: moved forum, about, signout to footer block #}
               
            </section>

            <section class="menu2" style="display: table;">

                {# --Note: Log In is a second row #}
                {% if not user.is_authenticated %}
                    <div style="display: table-cell;"><h3><a href="/registration/login/?next=/myfruitcake/">Log In</a> | <a href="/registration/register/">Create Account</a></h3>
                {% endif %}
                
                {# --Note: signout moved to footer block #}

                {#<h3><a href="{% url 'fruitcake:about' %}">About</a></h3>#}

            </section>

            <section class="menu3" style="display: table;">

                {# --Note: Admin only section; creates a new row #}

                {% if user.is_staff %} 
                    <div style="display: table-cell;"><a href="{% url 'admin:index' %}">Admin</a></div> 
                {% endif %}
                {% if user.is_staff %} 
                    <div style="display: table-cell;"><a href="{% url 'fruitcake:search' %}">Search</a></div>
                {% endif %}

            </section>


            {% endblock %}
        </div>

        {% block signin %}
        <div id="container3">
            <div id="container2">
                <div id="container1">
                    <div id="col1">
                        <br /><h2 class="greeting">
                        {% if user.username and user.get_profile.avatar %} 
                        Hi <i><span class="highlight">{{ user.username }}</span></i>!
                        {% elif user.username and not user.get_profile.avatar %}
                            Hi <i><span class="highlight">{{ user.username }}!</span></i>.
                        {% else %}
                            Hi, <i><span class="highlight">anonymous</i>!</span>
                        {% endif %}
                    </h2>
                        <P><b>Justfruitcake.com</b> is TOTALLY FREE (until it's not; and then it will be very, very inexpensive, plus maybe have some nice surprises!)</P>


                    </div>


                    <div class="wrapper">
                    <div class="one">

                         <div id="avatarinfo">
                            {% if user.username and user.get_profile.avatar %} 
                                <div class="avatar">
                                        <img src="http://www.justfruitcake.com/static/media/{{ user.get_profile.avatar }}">
                                </div>
                            {% elif user.username and not user.get_profile.avatar %}
                                No photo? It would be nice if you would go to your profile and upload your picture.
                            {% else %}
                                
                            {% endif %}
                        </div>
                
                        {% comment %}
                        <h2>My forum posts:</h2>
                        <ul>
                            <li>Posts: {{ my_posts|length }} </li>
                        </ul>
                        {% endcomment %}
 
                    </div>


                    <div class="two">
 
                            {% comment %}
                            my_shipments is defined in myfruitcake/context_processors.py and settings
                            {% endcomment %}
                            {% if user.is_authenticated %}

                            <h2>My activity: </h2>

                            <ul>
                                {% if my_shipments %}
                                <li>Shipments: {{ my_shipments|length }}</li>
                                {% comment %}
                                {% if my_latest_shipment %}
                                <li>Latest: <a href="/myfruitcake/myshipments/{{ my_latest_shipment.id }}/">{{ my_latest_shipment.dt|localtime }}</a></li>
                                {% endif %}
                                {% endcomment %}
                                {% else %}
                                <li>No shipments</li>
                                {% endif %}
                                
                                {% if my_posts %}
                                <li>Posts: {{ my_posts|length }}</li>
                                {% comment %}
                                {% if my_latest_post %}
                                <li>Latest: <a href="/forum/thread/{{ my_latest_post.thread.id}}/">{{my_latest_post.created}}</a></li>
                                {% endif %}
                                {% endcomment %}
                                {% else %}
                                <li>No posts</li>
                                {% endif %}
                            </ul>
                            {% else %}
                            {# <P>(Not available for anonymous user) #}
                            {% endif %}

                    </div>
                    </div>
               
                 </div>

            </div>
        </div>

        {% endblock %}




        <div id="content">
            {% block page-content %}{% endblock %}
        </div>

        {% block footer %}
            <br />

            <div class="footer1">
                &copy; Copyright 2013 Picocosmos Corporation</div>

            <section class="footer2" style="display: table;">
                
                <div style="display: table-cell;"><h3><a href="{% url 'fruitcake:about' %}">About</a></h3></div>
                {#<div style="display: table-cell;"><h3><a name='forum' href="{% url 'forum:forum_main' %}">Forum</a></h3></div>#}
                {% if user.is_authenticated %}
                    <div style="display: table-cell;"><h3><a href="/registration/logout/?next=/myfruitcake/">Log Out</a></h3></div>
                {% endif %}

            </section>

        {% endblock %}




    </div>


</body>
</html>

