{% extends "base/base.html" %}

{% load tz humanize i18n lazysignup_tags %}

{% block title %}{{ block.super }} Forum {% endblock %}


    <div id="container">

        {% block sidebar %} - Home{% endblock %} 

        <div id="menu">
            {% block nav-global %}

            <!-- MENU -->

            <section class="menu1" style="display: table;">

                <div style="display: table-cell;"><h3><a href="{% url 'fruitcake:toplistview' %}">Home</a></h3></div>
                <div style="display: table-cell;"><h3><a href="{% url 'fruitcake:shipments' %}">My Messages</a></h3></div>
                <div style="display: table-cell;"><h3><a href="{% url 'fruitcake:listview' %}">My Fruitcake</a></h3></div>
                {% if user.is_authenticated and not user|is_lazy_user %}
                    <div style="display: table-cell;"><h3><a href="{% url 'forum:userinfo' %}">My Profile</a></h3></div> 
                {% endif %}
                {# --Note: moved forum, about, signout to footer block #}
               
            </section>

            <section class="menu2" style="display: table;">

                {# --Note: Log In is a second row #}
                {% if user|is_lazy_user and not user.is_anonymous and user.is_authenticated %}
                
                {% elif user.is_authenticated %}

                {% else %}
                    <div style="display: table-cell;"><h3><a href="/registration/login/?next=/myfruitcake/">Log In</a> 
                {% endif %}

                {% if user|is_lazy_user and not user.is_authenticated %}
                    | <a href="/registration/register/">Create Account</a></h3>
                {% endif %}
                
                {# --Note: signout moved to footer block #}

                {#<h3><a href="{% url 'fruitcake:about' %}">About</a></h3>#}

            </section>

            <section class="menu3" style="display: table;">

                {# --Note: Admin only section; creates a new row #}

                {% if user.is_staff %} 
                    <div style="display: table-cell;"><a href="{% url 'admin:index' %}">Admin</a></div> 
                {% endif %}
                {% if user.is_staff %} 
                    <div style="display: table-cell;"><a href="{% url 'fruitcake:search' %}">Search</a></div>
                {% endif %}

            </section>


            {% endblock %}
        </div>

        {% block signin %}
        <div id="container3">
            <div id="container2">
                <div id="container1">
                    <div id="col1">
                        <br /><b><h2 class="greeting">
                        {% if user.username and user.get_profile.avatar and not user|is_lazy_user %} 
                        Hi <i><span class="highlight">{{ user.username }}</span></i>
                        {% elif user.username and not user.get_profile.avatar and not user|is_lazy_user %}
                            Hi <i><span class="highlight">{{ user.username }}</span></i>
                        {% else %}
                        Hi!{#<i><span class="highlight">anonymous</i>!</span>#}
                        {% endif %}
                        {% comment %}
                        {% if user|is_lazy_user %}
                            (temporary id)
                        {% endif %}
                        {% endcomment %}
                        </h2></b>
                        <P><b>Justfruitcake</b> is a fun, free, distinctive way to send seasonal messages to friends and family!</P>


                    </div>

                    {% if user.is_authenticated %}

                        <div class="wrapper">
                            <div class="one">

                                 <div id="avatarinfo">
                                    {% if user.username and user.get_profile.avatar %} 
                                        <div class="avatar">
                                            <img src="{{ MEDIA_URL }}{{ user.get_profile.avatar }}"/>
                                        </div>
                                    {% elif user.username and not user.get_profile.avatar %}
                                        <div class="noavatar">
                                            <P>No photo? If you want to, you can <img style="float: right" src="{{ MEDIA_URL }}/images/343958592_0c391c5963_b.jpg"/> <a
                                                href="{% url 'forum:userinfo' %}">upload</a> a profile pic to show here.</P>

                                        </div>
                                    {% else %}
                                        
                                    {% endif %}
                                </div>
                        
                                {% comment %}
                                <h2>My forum posts:</h2>
                                <ul>
                                    <li>Posts: {{ my_posts|length }} </li>
                                </ul>
                                {% endcomment %}
         
                            </div>

                            <div class="two">
         
                                    {% comment %}
                                    my_shipments is defined in myfruitcake/context_processors.py and settings
                                    {% endcomment %}
                                    {% if user.is_authenticated %}

                                    <h2>My activity: </h2>

                                    <ul>
                                        {% if my_shipments %}
                                        <li>Messages sent: {{ my_shipments|length|intcomma }}</li>
                                        {% comment %}
                                        {% if my_latest_shipment %}
                                        <li>Latest: <a href="/myfruitcake/myshipments/{{ my_latest_shipment.id }}/">{{ my_latest_shipment.dt|localtime }}</a></li>
                                        {% endif %}
                                        {% endcomment %}
                                        {% else %}
                                        <li>No messages sent.</li>
                                        {% endif %}
                                       

                                        {% if my_downstream %}
                                        <li>Messages re-sent by others: {{my_downstream|length|intcomma }}</li>
                                        {% else %}
                                        <li>No messages re-sent downstream.</li>
                                        {% endif %}

                                        {% comment %}
                                        {% if my_posts %}
                                        <li>Posts: {{ my_posts|length }}</li>
                                        {# {% if my_latest_post %}<li>Latest: <a href="/forum/thread/{{ my_latest_post.thread.id}}/">{{my_latest_post.created}}</a></li>{% endif %} #}
                                        {% else %}
                                        <li>No posts</li>
                                        {% endif %}

                                        {% endcomment %}

                                    </ul>
                                    {% else %}
                                    {# <P>(Not available for anonymous user) #}
                                    {% endif %}

                            </div>  {# end of two #}
           
                        </div>  {# end of wrapper #}
                        
                    {% else %} {# end of if user.is_authenticated #}

                        {#<P>Test</P>#}
                    
                    {% endif %}

                </div> {# end of container1 #}

            </div>
        </div>

        {% endblock %}




        <div id="content">
            {% block page-content %}{% endblock %}
        </div>

        {% block footer %}
            <br />

            <div class="footer1">
                &copy; Copyright 2013 Picocosmos Corporation</div>

            <section class="footer2" style="display: table;">
                
                <div style="display: table-cell;"><h3><a href="{% url 'fruitcake:about' %}">About</a></h3></div>
                {#<div style="display: table-cell;"><h3><a name='forum' href="{% url 'forum:forum_main' %}">Forum</a></h3></div>#}
                <div style="display: table-cell;">
                
                    {% comment %}

                    {% if user.is_authenticated %}
                    User: {{user }}
                    is_anonymous: {{ user.is_anonymous}} <br/>
                    is_authenticated: {{user.is_authenticated}}<br/> 
                    is_lazy_user: {{user|is_lazy_user}} 
                    <h3><a href="/registration/logout/?next=/myfruitcake/">Log Out</a></h3>
                    {% endif %}

                    {% endcomment %}

                    <ul>
                    {% if not user|is_lazy_user and user.is_anonymous %}
                        {#<b>anon</b>#}
                    {% elif not user|is_lazy_user %}
                        {#<li class="nobullet"><a href="#">{% trans "Account" %}</a></li>#}
                        <li class="nobullet"><a href="/registration/logout/?next=/myfruitcake/">{% trans "Log out" %}</a></li>
                        {# {% url 'auth_logout' %} #}
                    {% else %}
                    <li class="nobullet"><a href="{% url 'lazysignup_convert' %}">{% trans "Save your data" %}</a> {#{% trans "by setting a username and password" %}#}</li>
                    {% endif %}
                    </ul>

                </div>

            </section>

        {% endblock %}




    </div>


</body>
</html>

