{% extends "base.html" %}


<body>
    <div id="sidebar"> {% block sidebar %} {% endblock %} </div>
    <div id="container">
        <div id="menu">
            {% block nav-global %}

                <!-- MENU -->
                <h3><a href="{% url forum.views.main %}">ForumApp</a></h3>

                {% if user.is_staff %} <a href="{% url admin:index %}">Admin</a> {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url forum.views.profile user.pk %}">Edit profile</a>{% endif %}
                
                {% if not user.is_authenticated %}<a href="/accounts/login/?next=/forum/">login</a> | <a
                    href="/accounts/register/">register</a>{% endif %}

                {% if user.is_authenticated %}<a href="/accounts/logout/?next=/forum/">logout</a>
                    {% endif %}

            {% endblock %}
        </div>

        <div id="content">
           {% block top-content %}{% endblock %}
           {% block forum-content %}{% endblock %}

        </div>
    </div>


