{% extends "base.html" %}
{% comment %}
   ---- Main template for all polls pages.
{% endcomment %}

{% block head %}
    <title>Justfruitcake polls</title>
{% endblock %}

{% block body %}
    <header>
        <h1>Justfruitcake!</h1>
    </header>
    <section>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/logout/">Sign out</a></li>
        </ul>
    </section>

    {% block content %}{% endblock %}

    <footer>
        <span>&copy; 2012, Picocosmos Corporation</span>
    </footer>
{% endblock %}

