{% extends "registration/registration_base.html" %} 

{# {% extends "base/base.html" %} #}
{% block title %}Login{% endblock %}

{% block sidebar %} - login{% endblock %}

{% comment %}
{% block nav-global %}{% endblock %}
{% block signin %}{% endblock %}
{% endcomment %}

{% block page-content %}
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    {# div id="container4" #}
    <div>
    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>
    
    <input type="submit" value="sign in" />
    <input type="hidden" name="next" value="{{ next }}" />
    --><label><input name="remember_me" type="checkbox">Keep me logged in?</label>
    </form>
    <br/>
    {# <p><a href="/registration/password_reset/"> #}

    <p><a href="{% url 'django.contrib.auth.views.password_reset' %}">Forgot</a> your password? 

    {# What is url registration.views.register: {% url 'registration.views.register' %} #}
    Need to <a href="{% url 'registration_register' %}?next=/registration/registration_complete/">create a sign-in</a>?</p> 

    <P></P>
    <P><a href="{% url 'fruitcake:termsofservice' %}">Terms of service</a> 
    </P>


    </div>

{% endblock page-content %}


