{% extends "base/base.html" %}  

{# CF20130316 commented out the above line; need that for styling #}

{# {% extends "registration/base.html" %} #}
{# {% extends "base.html" %} #}

{# {% block title %} your sign in{% endblock %} #}

{% block sidebar %} - register{% endblock %}
{# {% block nav-global %}{% endblock %} #}
{% block nav-global %}{% endblock %}
{% block signin %}{% endblock %}
{# {% block signin %}{% endblock %} #}
{# {% block forum-content %}{% endblock %} #}
{# {% block footer %}{% endblock %} #}
{% comment %}
{% block content %}
    {% block body %}
    {% endblock %}
{% endblock %}
{% endcomment %}

