{% extends "forum/fbase.html" %}

{% block title %} registration {% endblock %}

{% block sidebar %} - registration form{% endblock %}

        <style type="text/css">
            th {
                text-align: right;
                padding-right: 10px;
            }
        </style>

{% block forum-content %}

        <h2>Register</h2>
        <form action="/registration/register/" method="POST">{% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
        <p>
            <input style="margin-left: 320px;" type="submit" value="Submit" />
        </p>
        </form>

{% endblock %}

