<!DOCTYPE html>
<html lang="en">
    <head>

        <link rel="stylesheet" href="/static/fruitcakestyles.css" type="text/css" media="screen" charset="utf-8" />
        <!-- <meta http-equiv="refresh" content="2">  -->

        <title>Justfruitcake - {% block pagetitle %}Base title{% endblock %}</title>

    </head>
    <body>
        <div id="menu">{% block menu %}Menu: {% endblock %}</div>

        <div id="heading">{% block header %}Justfruitcake{% endblock %}</div>

        <div id="content">{% block content %}Forum content goes here{% endblock %}</div>

        <div id="footer">{% block footer %}&copy; 2012, Picocosmos Corporation{% endblock %}</div>

    </body>
</html>


