{% comment %}

html5 template

{% endcomment %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        {% block head %}{% endblock %}

        {% comment %}
        Are these html5? --
        {% endcomment %}

        <link rel="stylesheet" type="text/css" href="/static/styles.css" />
        <link rel="shortcut icon" href="/static/favicon.ico"> 

   </head>
   <body>
        <nav id="login"><a href="/accounts/login/">Sign in</a>
        </nav>

        {% block body %}
        
       
        {% endblock %}

        {% comment %}
        Note sure if the following to </body> is html5 or not
        {% endcomment %}

        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("jquery", "1");
        </script>

        <script type="text/javascript" language="javascript">
            $(document).ready(function() {
                    
// NOTE: LEAVING THIS AS A SIMPLE DEMO        
/*
                 alert($().jquery);       
                 alert("Hello, whirled!");
                 var d = new Date(); 
                      if (d.getHours() < 12) {
                        alert("Good morning."); 
                      } else {
                        alert("Good afternoon.");
                      }
*/
            });
        </script>


    </body>
</html>


