{% extends "forum/fbase.html" %}        



{% block title %}About{% endblock %}

{% block sidebar %} - About{% endblock %}

{% block page-content %}

<P>Justfruitcake is for tracking the travels of virtual fruitcake. 
It is one of those side projects that started from a fun and whimsical notion, and took on a
life of its own at a certain point.
<P>Overview:
<ul class="aboutbullet">
    <li class="aboutbullet"><b>Home</b> - The most popular fruitcake pics by how often they've been sent.</li>
    <li class="aboutbullet"><b>My Fruitcake</b> - Fruitcake pics you have uploaded.</li>

    <li class="aboutbullet"><b>My Shipments</b> - Messages you sent using fruitcakes pics.</li>

    <li class="aboutbullet"><b>My Profile</b> - Your account username, email, profile pic.</li>

    
    <li class="aboutbullet"><b>About</b></li>

    <li class="aboutbullet"><b>Forum</b> - Discussion on fruitcake topics and feedback.</li>
    <li class="aboutbullet"><b>Log In/Log Out</b></li>
</ul>
{% comment %}
<P>Click <a href="{% url myfruitcake.views.about_sample %}">here</a> for a screenshot. Without having created a sign-in, you can
click on the Justfruitcake message link in an email to open it in Justfruitcake.com and see the fruitcake's travels, but to
send it on or to send other Justfruitcake messsages, you just need to create a sign-in with a verified email address.
{% endcomment %}

<P>FAQ:
<ul class="aboutbullet">
    <li class="aboutbullet">I sent a fruitcake pic message, so why doesn't it show up in My Shipments? Answer: try hitting F5 to refresh the browser.</li>
    <li class="aboutbullet">I received a fruitcake message in an email. When I click the linkto see it, do I need to create an account and log in?
    Answer: Not for the first few.</li>
</ul>


{% endblock %}
