{% extends "forum/fbase.html" %}
 
{% block title %}Email{% endblock %}

{% block sidebar %} - email<style type="text/css"> </style> {% endblock %}

{% block forum-content %}
<P>Fruitcake email form:</P>

    {% if form.errors %}
    <ol>
        {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
    {% endif %}

    {% comment %}
    {% for field in form %}
        <P>{{ field.label }}: {{ field.value }}</P>
    {% endfor %}
    {% endcomment %}

    <form action="" method="POST">{% csrf_token %}
        {% comment %}
        <P>To: <input type="text" name="to" value="" id="id_to" /></P>
        <input type="submit" value="Submit" />
        {% endcomment %}
        <table>
            {% if form %}
            <P>There is form data and it has a length of {{ form|length }}</P>
            {% else %}
            <P>No form data</P>
            {% endif %}
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>

{% endblock forum-content %}

