{% extends "forum/fbase.html" %}        

{% block title %}Myfruitcake{% endblock %}

{% block sidebar %} - my fruitcake{% endblock %} 

{% load tz %}

{% block page-content %}

            <div class="main">

                <div id="rtitle">Upload a fruitcake photo? <span class="menu"><a href="/myfruitcake/upload/">Upload</a></span></div>
            </div>

{% block myfruitcakelist %}{% endblock myfruitcakelist %}        

    {% if user.is_authenticated %}

        {% if fruitcake_list %}
        <br />
        <P class="main">Most shipped fruitcake (<b>click photo to send</b>):</P>

        <div id="gallery_tape">
        <ul class="plain">
            {% for fruitcake in fruitcake_list %}
                <li class="plain">
                <figure>
                    <a href="/myfruitcake/myfruitcake/{{ fruitcake.id }}/send/" title="{{ fruitcake.popup }}">
                        <img src="{{ MEDIA_URL }}{{ fruitcake.thumbnail }}"/>
                    </a>
                    <figcaption>uploaded: {{ fruitcake.dt|localtime }}<br />by: {{ fruitcake.uploader.username }} (sent {{fruitcake.times_shipped }}x)</figcaption>
                </figure>
                </li>
            {% endfor %}
        </ul>

        {% else %}
            (Sorry, looks like you have not uploaded any fruitcake, yet.)
        {% endif %}
        </div>

    {% endif %}

{% endblock %}
