{% extends "forum/fbase.html" %}
 
{% block title %}Email{% endblock %}

{% block sidebar %} - email{% endblock %}

{% load tz %}

{% block page-content %}
<P>template: fruitcake_shipment.html</P>

{% if fruitcake %}

        <div id="gallery_tape">
        <ul class="gallery tape">
                <li>
                <figure>
                    <img src="{{ MEDIA_URL }}{{ fruitcake.thumbnail }}" title="{{ fruitcake.popup }}" />
                    <figcaption>uploaded: {{ fruitcake.dt|localtime }}<br />by: {{ fruitcake.uploader.username }}</figcaption>
                </figure>
                </li>
        </ul>
        
{% endif %}




<P><b>Send it off?</b></P>

{% if form.errors %}
    Sorry, please fix the error:
    <ol>
        {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
    </ol>
{% endif %}

    <form action="" method="POST">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Send">
    </form>


{% endblock %}

