{% extends "forum/fbase.html" %}        

{% block title %}Myfruitcake{% endblock %}

{% block sidebar %} - My Fruitcake{% endblock %}

{% load tz %}
{% load humanize %}

{% block page-content %}
<P>Template: fruitcake_detail.html</P>
    <div class="main">
        {#<div id="rtitle">Upload a fruitcake pic? <span class="menu"><a href="/myfruitcake/upload/">Upload</a></span></div>#}
    </div>

{% block myfruitcakelist %}{% endblock myfruitcakelist %}        

    {% if user.is_authenticated %}

        {% if fruitcake %}
        <br />
        <P class="main">Fruitcake Detail (<b>tap pic to send</b>):</P>

        <div id="gallery_tape">
        <ul class="plain">
            <li class="plain">
            <figure>
                <a href="/myfruitcake/myfruitcake/{{ fruitcake.id }}/send/" title="{{ fruitcake.popup }}">
                    <img src="{{ MEDIA_URL }}{{ fruitcake.thumbnail }}"/>
                </a>
                <figcaption>uploaded: {{ fruitcake.dt|localtime }} by: {{ fruitcake.uploader.username }} (sent {{fruitcake.times_shipped|intcomma }}x)</figcaption>
            </figure>
            </li>
        </ul>

        {% else %}
            (Sorry, something went wrong.)
        {% endif %}
        </div>

    {% endif %}

{% endblock %}
