{% extends "forum/fbase.html" %}        

{% block title %}Myfruitcake{% endblock %}

{% block sidebar %} - my fruitcake{% endblock %}

{% block forum-content %}
{% comment %}
<P>fruitcake_list.html</P>
{% endcomment %}

            <div class="main">
                <div id="rtitle">Upload a fruitcake photo? <span class="menu"><a href="/myfruitcake/upload/">Upload</a></span></div>
            </div>

{% block myfruitcakelist %}{% endblock myfruitcakelist %}        

{# and user.is_authenticated #}
        {% if fruitcake_list %}
        <br />
        <P class="main">Listing of fruitcake uploaded by <i><u>{{ uploader }}</u></i> (<b>click to send</b>):</P>

        <div id="gallery_tape">
        <ul class="gallery tape">
            {% for item in fruitcake_list %}
                <li>
                <figure>
                    <a href="{{ item.id }}/shipment/" title="{{ item.popup }}">
                        <img src="{{ MEDIA_URL }}{{ item.pic }}"/>
                    </a>
                    <figcaption>uploaded: {{ item.dt }}<br />by: {{ item.uploader.username }}</figcaption>
                </figure>
                </li>
            {% endfor %}
        </ul>

        {% comment %}
 <br />by: {{ item.uploader.username }}
        {% endcomment %}
        {% else %}
            (Sorry, looks like you have not uploaded any fruitcake, yet.)
        {% endif %}
        </div>

{% endblock %}
