{% extends "forum/fbase.html" %}        

{% block title %}Myfruitcake{% endblock %}

{% block sidebar %} - My Fruitcake{% endblock %} 

{% load tz humanize i18n lazysignup_tags %}

{% block page-content %}
{#<P>Template: fruitcake_list.html</P>#}

{% block myfruitcakelist %}{% endblock myfruitcakelist %}        
    
    {% if user.is_authenticated %}
        {% if upload %}
        <div class="main">
            <div id="rtitle">Upload a fruitcake pic? <span class="menu"><a href="/myfruitcake/upload/">Upload</a></span></div>
        </div>
        {% endif %}

        {% if fruitcake_list %}
        <br />
        <P class="main">
            {% if not upload %}
                Top fruitcakes used for messages 
            {% endif %}
            (<b>tap pic to send</b>):
        </P>

        <div id="gallery_tape">

        <ul class="plain">
            {% for fruitcake in fruitcake_list %}

                <li class="plain">
                <figure>
                    <a href="/myfruitcake/myfruitcake/{{ fruitcake.id }}/send/" title="{{ fruitcake.popup }}">
                        <img src="{{ MEDIA_URL }}{{ fruitcake.thumbnail }}"/>
                    </a>
                    <figcaption>uploaded: {{ fruitcake.dt|localtime }}<br />by: {{ fruitcake.uploader.username }} (sent {{fruitcake.times_shipped|intcomma }}x)</figcaption>
                </figure>
                </li>

            {% endfor %}
        </ul>

        {% else %}
            (Looks like you have not uploaded any fruitcake pics, yet.)
        {% endif %}
        </div>



    {% else %}
        {# <P>-----NOT AUTHENTICATED------</P> #}
        {% comment %}
        Context[uploader] is in MyFruitcakeListView and not FruitcakeListView, so this is one way to tell how we got here
        {% endcomment %}
        <div class="main">
            <div id="rtitle"><B>Why create an account?</B> When you make a <i>free</i> account, you get a <I>username</I> and <I>password</I> to log in for sending fruitcake
                messages, so your username is associated with messages, and also can upload fruitcake pics.
                {#<BR />-->Upload a fruitcake photo? <span class="menu"><a href="/myfruitcake/upload/">Upload</a></span></div>#}
        </div>


        {% if not uploader %} 

            {% if fruitcake_list %}
            <br />
            <P class="main">Top fruitcakes for messages (<b>tap pic to send</b>):</P>

            <div id="gallery_tape">
            <ul class="plain">
                {% for fruitcake in fruitcake_list %}
                    <li class="plain">
                    <figure>
                        <a href="/myfruitcake/myfruitcake/{{ fruitcake.id }}/send/" title="{{ fruitcake.popup }}">
                            <img src="{{ MEDIA_URL }}{{ fruitcake.thumbnail }}"/>
                        </a>
                        <figcaption>uploaded: {{ fruitcake.dt|localtime }}<br />by: {{ fruitcake.uploader.username }} (sent {{fruitcake.times_shipped}}x )</figcaption>
                    </figure>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                (Sorry, no fruitcake.)
            {% endif %}

        {% else %}
        
            <P>(If you have an account, when you upload fruitcake pics, they will be displayed here and you can then
            tap to send them.  Or you can just send messages using fruitcake pics on the &quot;Home&quot; page.)</P> 

        {% endif %}





    {% endif %}

{% endblock %}
