{% extends "forum/fbase.html" %}        

{% block title %}Myfruitcake{% endblock %}

{% block sidebar %} - my shipments{% endblock %} 

{% load tz %} 

{% block page-content %}
{#<P>Template: shipment_list.html</P>#}

    <div class="main">
        <div id="rtitle">Upload a fruitcake photo? <span class="menu"><a href="/myfruitcake/upload/">Upload</a></span></div>
    </div>

    {% block myfruitcakelist %}{% endblock myfruitcakelist %}        

    {% if shipment_list %}

        <br />
        <P class="main">Listing of shipment(s) 
        {% if sender  %}
         Sent by <i><u>{{ sender }}</u></i>
         {% endif %}
         (<b>click photo to send</b>):</P>

        <div id="gallery_tape">

        <ul class="gallery tape">

        {% if shipment_list %}
            {% for shipment in shipment_list %}
              {# shipment_list dt desc of origin_id, parent_id, id, etc. Want just max id for each origin_id, so... #}
              {% ifchanged shipment.origin_id %}

                <table><tr>
                        {# <li> #}
                <td valign="top">

                <figure>
                    <a href="/myfruitcake/myshipments/{{ shipment.id }}/send/" title="{{ shipment.fruitcake.popup }}">
                        <img src="{{ MEDIA_URL }}{{ shipment.fruitcake.thumbnail }}"/>
                    </a>
                    <figcaption>uploaded: {{ shipment.fruitcake.dt|localtime }} by: {{ shipment.fruitcake.uploader.username }} (sent {{shipment.fruitcake.times_shipped}}x)</figcaption>
                </figure>
                </td>

                <td border="1" valign="top" width="100%" height="100%">

                {% if shipment.get_shipment_list %}

                    <ol class="history_area" reversed >
                    {% for leg in shipment.get_shipment_list %}
                    <li class="history_item">
                    <i>( {{leg.origin_id}} {{leg.parent_id}} {{ leg.id }} )</i> 
                    {{ leg.dt|localtime }} 
                    sent by <b><span {% if leg.sender_id == user.id %}class="highlight"{% else %}class="otherhighlight"{% endif %}>{{leg.sender}}</span>

                        {% for ip in leg.ipaddresses.all %}
                        ({{ ip.city }}, {{ ip.region }}, {{ ip.country_name }}{# - {{ ip.ipaddress }}#}) 
                        {% endfor %}</b>
                        with message &quot;{{ leg.message }}&quot;
                        <br />
                        {% if leg.sender = user %}
                        --> sent to: 
                            {% for email in leg.emailcontacts.all %} 
                                {{email }}{% if not forloop.last %}, {% endif %} 
                            {% endfor %} 
                        {% endif %}
                    </li>
                    {% endfor %}
                    </ol>

                {% else %}
                    <b>no list</b>
                {% endif %}

                </td>
                {# </li> #}
                </tr></table>
           
              {% endifchanged %}

            {% endfor %}

        {% else %}

            <P>Here is your map</P>
    
        {% endif %}

        </ul>
        </div>
     {% else %}

        (Sorry, looks like you have not shipped any fruitcake, yet.)
     {% endif %}


{% endblock %}


{% comment %}

{% block page-content %}

{% endblock %}

{% endcomment %}

