{% extends "forum/fbase.html" %}        

{% block title %}Myfruitcake{% endblock %}

{% block sidebar %} - Incoming Message{% endblock %}

{# between sidebar and page-content are: nav-global, signin, page-content-frame #}
{# make signin block not show, to avoid vertical blank space #}
{#{% block signin %}{% endblock %}#}

{% load tz %}
{% load humanize %}

{% block page-content %}
{#<P>Template: shipment_detail.html</P>#}
    {#<P>shipment_detail.html at start of block page-content but before main div</P> #}
    <div class="main">
        {#<div id="rtitle">Upload a fruitcake pic? <span class="menu"><a href="/myfruitcake/upload/">Upload</a></span></div>#}
    </div>
    {#<P>shipment_detail.html</P>#}{# after main div nothing else yet in block page-content</P>#}
         (<b>tap pic to send</b>):</P>

{% block myfruitcakelist %}{% endblock myfruitcakelist %}        

                <table><tr>
                        {# <li> #}
                <td valign="top">

                <figure>
                    <a href="/myfruitcake/myshipments/{{ shipment.id }}/send/" title="{{ shipment.fruitcake.popup }}">
                        <img src="{{ MEDIA_URL }}{{ shipment.fruitcake.thumbnail }}"/>
                    </a>
                    <figcaption>uploaded: {{ shipment.fruitcake.dt|localtime }} by: {{ shipment.fruitcake.uploader.username }} (sent {{shipment.fruitcake.times_shipped}}x)</figcaption>
                </figure>
                </td>

                <td border="1" valign="top" width="100%" height="100%">

                {% if shipment.get_shipment_list %}

                <BR />
                    <ol class="history_area, nobullet" reversed>
                    {% for leg in shipment.get_shipment_list %}
                    <li class="history_item, nobullet">
                    <i>{#{{leg.origin_id}} {{leg.parent_id}} #}<b>#{{ leg.id|intcomma }}</b></i> 
                    {{ leg.dt|localtime }} 
                    sent by <b><span {% if leg.sender_id == user.id %}class="highlight"{% else %}class="otherhighlight"{% endif %}>{{leg.sender}}</span>

                        {% for ip in leg.ipaddresses.all %}
                        ({{ ip.city }}, {{ ip.region }}, {{ ip.country_name }}{# - {{ ip.ipaddress }}#}) 
                        {% endfor %}</b>
                        with message &quot;{{ leg.message }}&quot;
                        <br />
                        {% if leg.sender = user %}
                        --> sent to: 
                            {% for email in leg.emailcontacts.all %} 
                                {{email }}{% if not forloop.last %}, {% endif %} 
                            {% endfor %} 
                        {% endif %}
                    </li>
                    {% endfor %}
                    </ol>


                {% else %}
                    <b>no list</b>
                {% endif %}

                </td>
                {# </li> #}
                </tr></table>
            
{% endblock %}
