{% extends "forum/fbase.html" %}
 
{% block title %}{% endblock %}

{% block sidebar %}{% endblock %}
{% block nav-global %}{% endblock %}
{% block signin %}{% endblock %}

{% load tz humanize i18n lazysignup_tags %}

{% block page-content %}

<div id="shipment_{{ shipment.id }}">
<P>Special fruitcake email {{ shipment.dt|localtime }}:</P>

            <P>I am sending you this fruitcake from <a
                href="http://www.justfruitcake.com">http://www.justfruitcake.com</a>.  
            If you would like to see more about it, such as where  
            it has travelled, just go to its very own shipment information page at <a
                href="http://www.justfruitcake.com/myfruitcake/myshipments/{{ shipment.id }}/">http://www.justfruitcake.com/myfruitcake/myshipments/{{ shipment.id }}/</a>.</P>
            <P>When you can tap or click on the fruitcake to send a message back or to other friends or family.  
            Also, you can come back here to check where your fruitcake messages go.</P>

            <P>Happy fruitcake!</P>

            {% comment %}
            <ul class="gallery tape">
                <li>
                <figure>
            {% endcomment %}
                    <!-- <a href="http://www.justfruitcake.com/shipment/{{ shipment.id }}"> //-->
                    <img src="http://www.justfruitcake.com/static/media/{{ fruitcake.thumbnail }}" title="{{ fruitcake.popup }}" />
                        <!-- </a> //-->
                        <br />uploaded: {{ fruitcake.dt|localtime }}<br />by: {{ fruitcake.uploader.username }}
            {% comment %}
                </figure>
                </li>
            </ul>
            {% endcomment %}

        <P>{{ sender_message }}</P>    
</div>

{% endblock %}

{% comment %}
{% block footer %}{% endblock %}
{% endcomment %}

