{% extends "forum/fbase.html" %}        



{% block title %}TermsOfService{% endblock %}

{% block sidebar %} - Terms of Service{% endblock %}


{% block signin %}{% endblock %}
{% block page-content %}

<P></P><P></P>
<P>Justfruitcake is a web service for tracking the travels of virtual fruitcake, while communicating with friends and family, 
so the only thing we ask is that you keep it to fruitcake; you know, 
<a href="http://en.wikipedia.org/wiki/Fruitcake">fruitcake</a>, as described by Wikipedia. 
(Und falls gefragt, <a href="http://de.wikipedia.org/wiki/Christstollen">Stollen</a> geht auch). 


</P>

{% endblock %}
