{% extends "forum/fbase.html" %}        



{% block title %}TermsOfService{% endblock %}

{% block sidebar %} - Terms of Service{% endblock %}


{% block signin %}{% endblock %}
{% block page-content %}

<P></P><P></P>
<P>Justfruitcake is a web service for sending messages to friends and family with virtual fruitcake, 
so the only thing we ask is that you keep it to fruitcake -- you know, 
<a href="http://en.wikipedia.org/wiki/Fruitcake">fruitcake</a>, as described by Wikipedia
(and yes, <a href="http://en.wikipedia.org/wiki/Stollen">Stollen</a> counts, too). 


</P>

{% endblock %}
