{% extends "forum/fbase.html" %}


<!-- Posts  -->
<div class="ttile">{{ title }}</div>
<div id="list">

    {% for post in posts.object_list %}
        <div class="post">
            <span class="title">{{ post.title }}</span><br />
            by {{ post.creator }} | <span class="date">{{ post.created }}</span> <br /><br />

            {{ post.body }} <br />

        </div>
    {% endfor %}
</div>


<a class="button" href="{% url forum.views.post 'reply' pk %}">Reply</a>

<a href="{% url forum.views.forum forum_pk %}">&lt;&lt; back to list of topics</a>
